:root{
  font-size: 10px;
  --main-color:#282828;
  --font-color:#ffd900;

}
*,a,ul,li,ol{
  padding: 0;
  margin: 0;

  text-decoration: none;
  box-sizing: border-box;
}

header{
  font-size: 2.5rem;
  color: var(--font-color);
  background-color: var(--main-color);
}